<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Sight Words</title>
</head>
<body>
    <h1>My Sight Words</h1>

<section id="success">
    <!-- WORD ADDED! -->
</section>

<!-- form on the left side of the screen -->
<form action="/addWords" method = "POST">
    <input type="text" placeholder="Insert word here" name="word">
    
    <!-- input dropdown :  -->
    <label for="level">Choose the Level:</label>
    <select id="level" name="level">
        <option value="pre-k">Pre-K</option>
        <option value="kinder">Kindergarten</option>
        <option value="first">First Grade</option>
        <option value="second">Second Grade</option>
        <option value="third">Third Grade</option>
        <option value="noun">Noun</option>
    </select>
    
    <button type="submit">Submit</button>
</form>

<section id="wordList">
    <!-- list of words here -->
    <h3>Words</h3>
    <ul>
        <% for(let i = 0; i < items.length ; i++){ %>
            <li>
                <span><%= items[i].word %> --- </span> <span><%= items[i].level %></span>
                
            </li>
        
        <% } %>
    </ul>
    
    <!--https://jamboard.google.com/d/1ll_mogkUOGfSQPDGcd6pDpjv3Hplp2u4BUvPHpNFsp0/viewer?f=0-->
</section>

</body>
</html>