<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Sight Words</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<section id="userInput">
    <h1>My Sight Words</h1>

<section id="success">
    <!-- WORD ADDED! -->
    
</section>

<!-- form on the left side of the screen -->
<form action="/addWords" method = "POST">
    <input type="text" placeholder="Type word here" name="word">
    <br>
    <!-- input dropdown :  -->
    <label for="level">Choose Grade Level:</label>
    <select id="level" name="level">
        <option value="Pre-K">Pre-K</option>
        <option value="K">Kindergarten</option>
        <option value="First Gr.">First Grade</option>
        <option value="Second Gr.">Second Grade</option>
        <option value="Third Gr.">Third Grade</option>
        <option value="Noun">Noun</option>
    </select>
    
    <button id='submit' type="submit">Submit</button>
</form>

</section>

<section id="wordList">
    <!-- list of words here -->
    
    <ul>
        <div id="wordListHeader">
            <h2>Word</h2>
            <h2>Level</h2>
            <h2>Modify</h2>
            </div>
        <% for(let i = 0; i < items.length ; i++){ %>
            <li>
                <span class="hidden"><%= items[i]._id %></span>
                <section>
                <span><%= items[i].word %></span> 
                </section> 
                <section>
                <span><%= items[i].level %></span>
                </section>
                <section>
                <span class='fa fa-trash'></span>
                </section>
            </li>
        
        <% } %>
    </ul>
    
    <!--https://jamboard.google.com/d/1ll_mogkUOGfSQPDGcd6pDpjv3Hplp2u4BUvPHpNFsp0/viewer?f=0-->
</section>
<script src="js/main.js"></script>
</body>

</html>